@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}
@media (max-width: 767px) {

}

@media (min-width:1200px) {
  .mavbar-default {
    padding: 0 100px;
  }
  .navbar-nav > li > ul.dropdown-menu {
    background: none;
  }
  .header h2 {
    font-size: 60px;
  }
  .header p {
    font-size: 20px;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
    }
.contact h2 {
  text-align: right;
}
  .contact p {
    text-align: right;
  }

  .margin-leftright {
    padding:0 20px;
  }
  .whatwedid h2, .whatwedid h3, .whatwedid p {
    text-align: left
  }
  .whatwedid h3 {
    margin: 25px 0;
  }
  .whatwedid .img {
    margin-top: 40px;
  }
  .whatwedid .text {
    margin: 0 125px;
  }
  .learn h2 {
    margin-left: 100px;
  }
  .learn .box-black {
    margin-right: 100px;
  }
  footer .mymargin {
    margin-top: 50px;
  }
  footer ul.social-icon {
    margin-top: 0;
  }
  footer p.text-center, footer h2.text-center {
    text-align: left;
  }
  footer p.last-one{
    margin-top: 10px;
  }
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }

  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .navbar-brand {
    display: inline-block;
    float: none;
  }

  .navbar-form.form-inline {
    display: inline-block;
    border-color: transparent;
    margin: 4px;
    padding: 5px;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
   }

}
